# Zusatz√ºbungen zum Notebook "Datenanalyse"

‚úèÔ∏è **√úbung 1:** Lad Dir den Datensatz mit einer Million S√§tzen aus deutschsprachigen Nachrichtentexten ("News") aus dem Jahr 2022 von der Seite des Projekts [Wortschatz Leipzig](https://wortschatz.uni-leipzig.de/de/download/German) herunter und speicher ihn an einem sinnvollen Ort. Entpack die Datei (falls das bei Windows auf Anhieb nicht funktioniert, empfiehlt sich das Programm [WinRAR](https://www.winrar.de)) und lies die Datei "deu_news_2022_1M-sentences.txt" mithilfe von pandas ein. Das DataFrame soll ```news_df``` hei√üen und aus zwei Spalten (```sentence_id``` und ```sentence```) sowie einer Million Zeilen bestehen. Spaltennamen kannst Du mithilfe des ```names```-Argument beim Einlesen definieren. Lass Dir die ersten zehn Zeilen ausgeben.
  
   Befinden sich wirklich eine Million S√§tze im DataFrame? Falls dies bei Deinem DataFrame nicht der Fall ist, √ºberleg Dir, was schief gelaufen sein k√∂nnte, denn in der Datei "deu_news_2022_1M-sentences.txt" befinden sich garantiert eine Million S√§tze.
<details>
    <summary> üí° Tipp </summary>
    <br> Zeilen, die ein √∂ffnendes, aber kein schlie√üendes Anf√ºhrungszeichen beinhalten, f√ºhren dazu, dass pandas "\t" am Ende der Zeile literal anstatt als Trennzeichen interpretiert. Dadurch landen mehrere S√§tze in <i>einer</i> Zeile (n√§mlich alle bis zum n√§chsten "schlie√üenden" Anf√ºhrungszeichen), weswegen schlussendlich weniger als eine Million Zeilen im DataFrame stehen. Informier Dich in der Dokumentation von pandas √ºber den Parameter <code>quoting</code>, mit dessen Hilfe Du dieses Verhalten √ºbersteuern kannst.
</details>

In [19]:
#In diese Zelle kannst Du den Code zur √úbung schreiben.

import pandas as pd
pd.set_option('display.max_rows', 500) 

news_df = pd.read_csv("../3_Dateien/Tabellarische_Daten/deu_news_2022_1M/deu_news_2022_1M-sentences.txt", 
                      sep="\t", quoting=3, names=["id", "sentence"])

news_df

             id                                           sentence
0             1  "0,3 Liter an Bier kostet zum Beispiel vier Eu...
1             2  ¬Ω Liter Milch zum Kochen bringen, dann ca. 3-4...
2             3  "100.000 Millionen Euro werden bereitgestellt ...
3             4  ¬´100 Euro f√ºr die Entfernung von 100 Kilogramm...
4             5  "100 Milliarden Sonderverm√∂gen" wird in den ko...
...         ...                                                ...
999995   999996  Zypern und Israel hatten in den vergangenen Ja...
999996   999997  Zypern verdiente mit dieser Art der Einb√ºrgeru...
999997   999998  Zypern will die Quarant√§neregeln f√ºr Sch√ºler √§...
999998   999999  Zytokine sind Proteine, die an Entz√ºndungsproz...
999999  1000000  –îie germanishen v√∂lker nennen ire bewegungen i...

[1000000 rows x 2 columns]

***
‚úèÔ∏è **√úbung 2:** Find heraus, ob es in den deutschsprachigen Nachrichten 2022 h√§ufiger um die Ukraine oder Corona ging (unter der Annahme, dass der Datensatz repr√§sentativ f√ºr die deutschsprachigen Nachrichten ist).

<details>
    <summary>üí° Tipp </summary>
    <br>Du kannst hierf√ºr die Methode <code>contains</code> nutzen. Bedenk aber, dass Du bei der Arbeit mit strings in pandas noch etwas vor die Methode schreiben musst.
</details>

In [21]:
#In diese Zelle kannst Du den Code zur √úbung schreiben.

ukraine = news_df[news_df.sentence.str.contains("Ukraine")]
corona = news_df[news_df.sentence.str.contains("Corona")]
len(ukraine), len(corona)

(16774, 13674)

***
‚úèÔ∏è **√úbung 3:** Schaff eine zus√§tzliche Spalte im DataFrame, in der die jeweilige L√§nge des Satzes in W√∂rtern verzeichnet ist.

   Wie lang ist der l√§ngste Satz? Wie lang ist der k√ºrzeste Satz? Und was ist die durchschnittliche Satzl√§nge?

   Lass Dir den l√§ngsten sowie den k√ºrzesten Satz ausgeben!
   
<details>
    <summary>üí° Tipp </summary>
    <br>Die Berechnung der L√§nge eines Satzes kommt bereits im Notebook "Datenanalyse Teil 2" vor. Schau dort noch einmal nach und pass den Code an die Aufgabe hier an.
</details>

In [22]:
#In diese Zelle kannst Du den Code zur √úbung schreiben.

news_df["length"] = news_df.sentence.str.split().str.len()
news_df

             id                                           sentence  length
0             1  "0,3 Liter an Bier kostet zum Beispiel vier Eu...      11
1             2  ¬Ω Liter Milch zum Kochen bringen, dann ca. 3-4...      26
2             3  "100.000 Millionen Euro werden bereitgestellt ...      30
3             4  ¬´100 Euro f√ºr die Entfernung von 100 Kilogramm...       9
4             5  "100 Milliarden Sonderverm√∂gen" wird in den ko...      12
...         ...                                                ...     ...
999995   999996  Zypern und Israel hatten in den vergangenen Ja...      16
999996   999997  Zypern verdiente mit dieser Art der Einb√ºrgeru...      16
999997   999998  Zypern will die Quarant√§neregeln f√ºr Sch√ºler √§...       7
999998   999999  Zytokine sind Proteine, die an Entz√ºndungsproz...      20
999999  1000000  –îie germanishen v√∂lker nennen ire bewegungen i...      22

[1000000 rows x 3 columns]

In [29]:
news_df[news_df.length == news_df.length.max()]
news_df.loc[249296, "sentence"]

'Der Einplatinen-PC wechselt somit vom Intel Celeron N4100 mit 1,1 GHz Basis- und bis zu 2,4 GHz Turbotakt bei 6 Watt TDP auf den N5105 mit 2,0 GHz Basis- und bis zu 2,9 GHz Turbotakt bei 10 Watt TDP, der erneut vier Kerne und vier Threads bietet.'

In [14]:
news_df.loc[0, "sentence"]

'"0,3 Liter an Bier kostet zum Beispiel vier Euro", sagt Dicks.'

***
‚úèÔ∏è **√úbung 4:** Sortier das DataFrame nach der L√§nge der S√§tze in absteigender Reihenfolge. Welcher Schritt ist anschlie√üend noch sinnvoll?

In [36]:
#In diese Zelle kannst Du den Code zur √úbung schreiben.

news_df.sort_values("id", ascending=True).reset_index(drop=True)

             id                                           sentence  length
0             1  "0,3 Liter an Bier kostet zum Beispiel vier Eu...      11
1             2  ¬Ω Liter Milch zum Kochen bringen, dann ca. 3-4...      26
2             3  "100.000 Millionen Euro werden bereitgestellt ...      30
3             4  ¬´100 Euro f√ºr die Entfernung von 100 Kilogramm...       9
4             5  "100 Milliarden Sonderverm√∂gen" wird in den ko...      12
...         ...                                                ...     ...
999995   999996  Zypern und Israel hatten in den vergangenen Ja...      16
999996   999997  Zypern verdiente mit dieser Art der Einb√ºrgeru...      16
999997   999998  Zypern will die Quarant√§neregeln f√ºr Sch√ºler √§...       7
999998   999999  Zytokine sind Proteine, die an Entz√ºndungsproz...      20
999999  1000000  –îie germanishen v√∂lker nennen ire bewegungen i...      22

[1000000 rows x 3 columns]

***
‚úèÔ∏è **√úbung 5:** Bereinige s√§mtliche S√§tze derart, dass Sonderzeichen von allen Wortanf√§ngen und -enden entfernt werden. Dazu steht Dir die Liste ```special_signs``` zur Verf√ºgung. Gro√ü- und Kleinschreibung sollst Du beibehalten. Jeder Satz soll auch nach dem Preprocessing als ein string vorliegen. 

<details>
    <summary>üí° Tipp </summary>
    <br>Verwend die pandas-eigene, vektorisierte Art der Datenbearbeitung und denk daran, dass Du diese auch in Kombination mit selbst definierten Funktionen verwenden kannst.
</details>
<br>
<details>
    <summary>ü¶ä Herausforderung </summary>
    <br>Verwend maximal eine Zeile zur Bereinigung der S√§tze.
</details>

In [ ]:
#In diese Zelle kannst Du den Code zur √úbung schreiben.

special_signs = ['‚Ä∞', ':', '¬ß', '¬¥', '.', 'ÃÅ', ';', '‚ùì', '‚Äë', '‚Äù', ')', ',', '<', '‚Ä≥', '¬ª', '‚àí', '‚úî', '‚Ä¢', '"', '`', '„Äâ', '‚Ä†', '*', '>', '&', "'", '‚Äπ', '/', '‚Äö', '¬Æ', '¬∞', '‚Äí', '‚ñ∂', '(', '%', '‚Äò', '‚Ç¨', '¬´', '≈Å', '‚ïê', '‚Äû', '!', '‚Äì', '?', '-', 'Ô∏é', '‚Äî', '‚Äú', '¬∑', '‚Ä¶', '‚Äü', '‚Ä°','‚Äô', '$', '≈Ç', '~', '‚Ñ¢', '‚Ä∫', '+']

***
‚úèÔ∏è **√úbung 6:** Mit welchen zehn W√∂rtern beginnen die Nachrichtens√§tze am h√§ufigsten?

<details>
    <summary>üí° Tipp </summary>
    <br>Um jeweils auf das n-te Element einer Liste in jeder Zeile einer bestimmten Spalte zuzugreifen, kannst Du <code>.str[n]</code> an den Spaltennamen anh√§ngen. So kannst Du den Satzanfang addressieren und mit einer geeigneten Methode die H√§ufigkeiten ausz√§hlen.
</details>

In [ ]:
#In diese Zelle kannst Du den Code zur √úbung schreiben.

***
‚úèÔ∏è **√úbung 7:** Und mit welchen zehn W√∂rtern enden die Nachrichtens√§tze am h√§ufigsten?

In [ ]:
#In diese Zelle kannst Du den Code zur √úbung schreiben.

***
‚úèÔ∏è **√úbung 8:** Wortschatz Leipzig stellt nicht nur eine Million S√§tze zur Verf√ºgung, sondern listet auch auf, wann und von welchem Nachrichtenportal die S√§tze extrahiert wurden. Diese Informationen sind jedoch in zwei weiteren Dateien gespeichert, die Du ebenfalls bereits heruntergeladen und entpackt hast. S√§mtliche Quellen sowie Daten (wann wurde der Satz heruntergeladen?) sind in "deu_news_2022_1M-sources.txt" aufgelistet und mit Quellen-IDs versehen, die Zuordnung zwischen Quellen-ID und Satz-ID findet sich wiederum in "deu_news_2022_1M-inv_so.txt".

Deine Aufgabe ist es nun, diese Informationen (Quelle und Datum) mit dem DataFrame ```news_df``` zu vereinen. Dazu bietet sich eine Dir vermutlich noch unbekannte Methode namens ```merge``` an. Informier Dich [hier](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) √ºber die Methode. Bei ```merge``` kannst Du mithilfe des ```on```-Parameters spezifizieren, auf Basis der Werte welcher Spalte die Zusammenf√ºhrung zweier DataFrames erfolgen soll. Wichtig ist dabei, dass der angegebene Spaltenname in beiden DataFrames existiert. Stell sicher, dass Du am Ende immer noch eine Million S√§tze in Deinem DataFrame hast, sowie dass keine fehlenden Werte (die etwa aufgrund eines falschen Mergings eingetragen wurden) darin vorkommen. Verwend dazu entweder ```if```-Bedingungen, oder, eleganter, ```assert```-Statements (mehr dazu [hier](https://realpython.com/python-assert-statement/#getting-to-know-assertions-in-python)). 
    
√úberpr√ºf abschlie√üend bei ein paar Quellenlinks, ob die jeweiligen S√§tze tats√§chlich auf der entsprechenden Website zu finden sind.
    
‚ö†Ô∏è Achtung: Wenn Du mehrfach hintereinander dieselben DataFrames zusammenf√ºgst, riskierst Du einen ```KeyError``` bei der als ```on```-Parameter √ºbergebenen Spalte. Die Fehlermeldung r√ºhrt daher, dass pandas bei mehrmaligem Mergen bereits existierende Spaltennamen um ein Suffix erg√§nzt, da Spaltennamen einzigartig sein m√ºssen. Schaff deshalb als erstes eine Kopie von ```news_df``` mithilfe von ```news_df_enriched = news_df.copy()``` und arbeite fortan mit ```news_df_enriched```. Jedes Mal, wenn Du die ganze Zelle ausf√ºhrst, um die DataFrames zu mergen, passiert dies somit auf Basis einer (immer wieder) neu erstellten Kopie.

In [ ]:
#In diese Zelle kannst Du den Code zur √úbung schreiben.

news_df_enriched = news_df.copy()

***
‚úèÔ∏è **√úbung 9:** F√ºg eine weitere Spalte namens ```country``` hinzu, die basierend auf der Top-Level-Domain (TLD) des Quellenlinks (z.&nbsp;B. ".de" oder ".ch") angibt, aus welchem Land der jeweilige Nachrichtensatz stammt. Dies l√§sst sich am leichtesten mithilfe eines regul√§ren Ausdrucks (vgl. Notebook "Regul√§re Ausdr√ºcke") und der Methode```findall``` umsetzen. Wenn Du bereits Erfahrung mit regul√§ren Ausdr√ºcken hast, probier Dich gern daran aus. Sonst kannst Du die Aufgabe nat√ºrlich aber auch ohne regul√§re Ausdr√ºcke l√∂sen.

<details>
    <summary>üí° Tipp </summary>
    <br>Wenn Du nicht mit regul√§ren Ausdr√ºcken arbeiten willst, schau Dir im Vorfeld mit einem Editor die Links in "deu_news_2022_1M-sources.txt" an. Alle Links beginnen mit derselben Struktur. Durch Splitten an bestimmten Zeichen kannst Du die TLD extrahieren.
</details>
<br>
<details>
    <summary>ü¶ä Herausforderung </summary>
    <br>Lass Dir eine sch√∂n formatierte √úbersicht √ºber die absolute und eine relative H√§ufigkeitsverteilung der L√§nder ausgeben. Folgender Screenshot ist eine Idee f√ºr die Formatierung, Du kannst es aber auch anders umsetzen: <br><br>
    <img src="../3_Dateien/Grafiken_und_Videos/tld_overview.png" width="300"/>
</details>

In [ ]:
#In diese Zelle kannst Du den Code zur √úbung schreiben.

news_df = news_df_enriched #"Zur√ºckverweisen" von 'news_df_enriched' auf 'news_df', da dies der simplere Variablenname ist

***
‚úèÔ∏è **√úbung 10:** Schaff ein Sub-DataFrame mit Nachrichtens√§tzen aus dem [DACH](https://de.wikipedia.org/wiki/D-A-CH)-Raum.

In [ ]:
#In diese Zelle kannst Du den Code zur √úbung schreiben.

***
‚úèÔ∏è **√úbung 11:** Zum Schluss wollen wir noch √ºberpr√ºfen, ob das Sampling der Nachrichtens√§tze im Datensatz einigerma√üen repr√§sentativ f√ºr 
die deutschsprachigen L√§nder ist, wobei wir uns der Einfachheit halber wieder auf den DACH-Raum beschr√§nken. Deutschland ist ungef√§hr um den Faktor zehn gr√∂√üer als √ñsterreich resp. die Schweiz (√ºberpr√ºf gerne die aktuellen Einwohner:innenzahl der drei L√§nder). Entsprechend sollten zirka zehn mal so viele Nachrichtens√§tze aus Deutschland stammen als aus √ñsterreich bzw. der Schweiz. Gleichzeitig sollte der Anteil an Nachrichtens√§tzen aus Deutschland, √ñsterreich und der Schweiz aber auch einigerma√üen gleichm√§√üig √ºber das Jahr 2022 verteilt sein. Idealerweise wurden nicht blo√ü im Januar Schweizer Quellen, im Februar √∂sterreichische und den Rest des Jahres deutsche gesammelt... Die Verteilung nach Land √ºber die Monate des Jahres 2022 hinweg wollen wir uns als Plot ausgeben lassen. Bevor Du diesen Plot erstellst, f√ºhr folgende Vorbereitungsschritte aus:

- Wenn Du Dir die Daten (wann wurde der Satz heruntergeladen?) in ```news_df``` anschaust (z.&nbsp;B. mittels ```news_df[~news_df.date.str.startswith("2022")])```, siehst Du, dass einige unrealistische Daten dabei sind. Da hat wohl das Web-Scraping bzw. das Postprocessing versagt... Filter das DataFrame derart, dass nur S√§tze aus dem Jahr 2022 √ºbrigbleiben.
- Da wir die Verteilung anstatt √ºber 365 Tage vereinfacht √ºber zw√∂lf Monate hinweg plotten wollen, schaff eine neue Spalte mit dem jeweiligen Extraktionsmonat des Nachrichtensatzes. Sortier das DataFrame anschlie√üend nach den Werten dieser neuen Spalte.
    </br></br>
    
    Analysier nun folgenden Plot und erstell ihn anschlie√üend selbst. √úberleg Dir abschlie√üend, ob das Sampling repr√§sentativ f√ºr die Gr√∂√üe der DACH-L√§nder √ºber die Monate hinweg ist.
    
    
    <img src="../3_Dateien/Grafiken_und_Videos/news_dach.png" width="600"/> </br>

<details>
    <summary>üí° Tipp 1</summary>
    <br>Orientier Dich an der Diagrammerstellung im Notebook "Datenanalyse Teil 2". 
</details>
<br>
<details>
    <summary>üí° Tipp 2</summary>
    <br>Um den Monat aus einem Datum zu extrahieren, kannst Du an einem entsprechenden Zeichen splitten und anschlie√üend Indexing anwenden.
</details>

In [ ]:
#In diese Zelle kannst Du den Code zur √úbung schreiben.

***
<table>
      <tr>
        <td>
            <img src="../3_Dateien/Lizenz/CC-BY-SA.png" width="400">
        </td> 
        <td>
            <p>Dieses Notebook sowie s√§mtliche weiteren <a href="https://github.com/yannickfrommherz/exdimed-student/tree/main">Materialien zum Programmierenlernen f√ºr Geistes- und Sozialwissenschaftler:innen</a> sind im Rahmen des Projekts <i>Experimentierraum Digitale Medienkompetenz</i> als Teil von <a href="https://tu-dresden.de/gsw/virtuos/">virTUos</a> entstanden. Erstellt wurden sie von Yannick Frommherz unter Mitarbeit von Anne Josephine Matz. Sie stehen als Open Educational Resource nach <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY SA</a> zur freien Verf√ºgung. F√ºr Feedback und bei Fragen nutz bitte das <a href="https://forms.gle/VsYJgy4bZTSqKioA7">Kontaktformular</a>.
        </td>
      </tr>
</table>